# =========================
# Node / Frontend
# =========================
node_modules/
.next/

# =========================
# Python
# =========================
__pycache__/
*.py[cod]

# =========================
# Environment files
# =========================
.env
.env.local
.env.*.local

# =========================
# OS
# =========================
.DS_Store

# =========================
# Backend specific
# =========================
backend/profile/
backend/build/
backend/tv_channels.egg-info/


# =========================
# CI / Temp
# =========================
temp/
backend/temp/
backend/old/
*.zip

# =========================
# Logs
# =========================
*.log