# =========================
# Node / Frontend
# =========================
node_modules/
.next/

# =========================
# Python
# =========================
__pycache__/
*.py[cod]

# =========================
# Environment files
# =========================
.env
.env.local
.env.*.local

# =========================
# OS
# =========================
.DS_Store

# =========================
# Backend specific
# =========================
backend/profile/
backend/build/
backend/cache/
backend/db/
db/
backend/tv_channels.egg-info/
backend/tv-channels/

# =========================
# CI / Temp
# =========================
temp/
backend/temp/
backend/old/
*.zip

# =========================
# Android
# =========================
android-tv/.gradle/
android-tv/**/build/
android-tv/local.properties

# =========================
# Logs
# =========================
*.log

.python-version
.envrc.local
